@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Montserrat", sans-serif;
    background-color: #e0ffdc;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 750px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(1, 74, 27, 0.36);
}
input, button {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}
button {
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #29b993f6;
    transition: 0.95s;
}
p {
    margin-top: 20px;
}
